<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224135254257-9rvg6kr3fdeu1d1taqu7apop8kupi17n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224135254257-9rvg6kr3fdeu1d1taqu7apop8kupi17n</string>
	<key>API_KEY</key>
	<string>AIzaSyCxapCLCgUlyOLD6EVq_mB8tkjwMSP5UeY</string>
	<key>GCM_SENDER_ID</key>
	<string>224135254257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shakarakaya.learnbyyourself</string>
	<key>PROJECT_ID</key>
	<string>learnbyyourself-aca6c</string>
	<key>STORAGE_BUCKET</key>
	<string>learnbyyourself-aca6c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224135254257:ios:008f812b34898358dbd950</string>
</dict>
</plist>